= render "navbar"
.contact
  .div1
    %h1 My Contact Details
.contact
  .div1{:style => "width : 740px"}
    %h3 
      My best hours are to contact me from 5am to 9pm gmt+1 but i will most likely respond immediatly.
      %p
      %p Email: jacksharville@gmail.com 
      %p Phone Number: 07443497318
      %p skype